.flower {
  position: absolute;
  right: 100px;
  animation: flower 1s infinite;
  -webkit-animation: flower 1s infinite;
  -moz-animation: flower 1s infinite;
  -o-animation: flower 1s infinite;
}

@keyframes flower {
  0%,
  100% {
    box-shadow: 25px 5px 0 0 rgba(215, 14, 91, 1),
      30px 5px 0 0 rgba(243, 112, 147, 1), 35px 5px 0 0 rgba(215, 14, 91, 1),
      20px 10px 0 0 rgba(215, 14, 91, 1), 25px 10px 0 0 rgba(243, 112, 147, 1),
      30px 10px 0 0 rgba(243, 112, 147, 1), 35px 10px 0 0 rgba(243, 112, 147, 1),
      40px 10px 0 0 rgba(215, 14, 91, 1), 20px 15px 0 0 rgba(243, 112, 147, 1),
      25px 15px 0 0 rgba(243, 112, 147, 1), 30px 15px 0 0 rgba(255, 235, 59, 1),
      35px 15px 0 0 rgba(243, 112, 147, 1), 40px 15px 0 0 rgba(243, 112, 147, 1),
      20px 20px 0 0 rgba(215, 14, 91, 1), 25px 20px 0 0 rgba(243, 112, 147, 1),
      30px 20px 0 0 rgba(243, 112, 147, 1), 35px 20px 0 0 rgba(243, 112, 147, 1),
      40px 20px 0 0 rgba(215, 14, 91, 1), 25px 25px 0 0 rgba(215, 14, 91, 1),
      30px 25px 0 0 rgba(142, 200, 67, 1), 35px 25px 0 0 rgba(215, 14, 91, 1),
      30px 30px 0 0 rgba(142, 200, 67, 1), 40px 30px 0 0 rgba(142, 200, 67, 1),
      45px 30px 0 0 rgba(243, 112, 147, 1), 15px 35px 0 0 rgba(243, 112, 147, 1),
      20px 35px 0 0 rgba(142, 200, 67, 1), 30px 35px 0 0 rgba(142, 200, 67, 1),
      40px 35px 0 0 rgba(142, 200, 67, 1), 45px 35px 0 0 rgba(142, 200, 67, 1),
      15px 40px 0 0 rgba(142, 200, 67, 1), 20px 40px 0 0 rgba(142, 200, 67, 1),
      30px 40px 0 0 rgba(142, 200, 67, 1), 35px 40px 0 0 rgba(142, 200, 67, 1),
      25px 45px 0 0 rgba(142, 200, 67, 1), 30px 45px 0 0 rgba(142, 200, 67, 1),
      30px 50px 0 0 rgba(142, 200, 67, 1);
    height: 5px;
    width: 5px;
  }
}
