@import './font.css';
@import './reset.css';

:root {
  --baemin100: #2ac1bc;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.text-baemin100 {
  color: var(--baemin100);
}
